@import "./varibals";

@font-face {
    font-family: 'sfBlod';
    src: url("./../font/sfBlod.OTF");
};

@font-face {
    font-family: 'sfBlodMeidum';
    src: url("./../font/sfBlodmed.OTF");
};

@font-face {
    font-family: 'sfMedium';
    src: url("./../font/sfMedium.OTF");
};


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
}
html{
    scroll-behavior: smooth;
}
body{
    overflow: hidden;
    text-align: center;
    line-height: 1.6;
    font-family: "sfMedium", sans-serif;
    background-color: $black7;
    text-decoration: none;
}